*.pyc
*.retry
*.tmp
*~
.DS_Store
.vagrant
.kube
/env.sh
*.log
helm/

#Ignore all but .tf files in /terraform
/terraform/*
!/terraform/*.tf
!/terraform/variables-local.tf.sample
/terraform/variables-local.tf

/config/alb-ingress-controller.yaml

__pycache__
build/
data/
